.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  padding: 10px;
  border-radius: 20px;
  position: fixed;
  bottom: 20px;
  max-width: 800px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.nav-item {
  color: #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s;
}

.icon-label {
  font-size: 12px;
  margin-top: 5px;
}

.selected {
  color: #fff;
}
