.team-join-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e6244; /* 녹색 배경 */
  padding: 10px;
  color: white;
  margin: 10px -5.5%;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: 15px;
}

.text-container {
  display: flex;
  align-items: center;
}

.user-name {
  display: inline-block;
  font-size: 1.2em;
  margin-right: 10px;
}

.application-title {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
}
