.Header2__wrap {
  height: 34px;
  position: relative;
  margin-top: 20px;
}

.Header2__wrap > * {
  position: absolute;
  font-size: 1.2em;
  font-weight: 700;
}

.Header2__wrap > .Header2__back {
  left: 5px;
  cursor: pointer;
}
.Header2__wrap > .Header2__back > * {
  padding: 5px;
}

.Header2__wrap > .Header2__text {
  padding: 5px;
  left: 50%;
  transform: translateX(-50%);
}
