.Searchbar {
  border: 1px solid var(--color-light2);
  border-radius: 10px;
  display: flex;
  margin-bottom: 10px;
}

.Searchbar_text {
  width: 100%;
  border: 0px;
  outline: none;
  font-size: 14px;
}

.Searchbar_text:focus {
  border: 0px;
}
