.CheckBox-icon {
  background-color: var(--color-light2);
  color: var(--color-light2);
  margin-right: 5px;
  border-radius: 3px;
  padding: 0.5px;
  border: 1px solid var(--color-dark1);
}

.icon {
  border: 1px solid var(--color-light1);
  background-color: var(--color-main);
  color: var(--color-dark2);
  margin-right: 5px;
}
