.calendar {
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.days,
.body {
  background: #fff;
}

.col {
  text-align: center;
  padding: 10px 0;
  /* width: 2.5em; */
}

.col-center {
  flex-grow: 1;
  user-select: none;
  position: relative;
}

.col-center > .month {
  font-size: 20px;
  font-weight: 500;
}

.col-center > .year {
  margin-top: 3px;
  font-size: 16px;
  color: #999;
}

.selected-today-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(100% + 10px), -50%);
  border: 1.5px solid #1ceda4;
  border-radius: 5px;
  padding: 3px 6px;
  font-size: 14px;
}

.col-center.week {
  font-size: 16px;
  color: #999;
}

.icon-wrap {
  position: relative;
  cursor: pointer;
  user-select: none;
  border: 1px solid #ced3de;
  border-radius: 20%;
  padding: 20px;
  box-shadow: 0 0.2px 0.3px rgba(0, 0, 0, 0.3);
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col.col-start,
.col.col-end {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  font-weight: 500;
  flex-grow: 1;
}

.cell .number-wrap {
  position: relative;
  padding: 30%;
  border-radius: 30%;
}
.cell:hover .number-wrap {
  background-color: #ccc;
}

.cell.today {
  color: white;
  border-radius: 15%;
  box-sizing: initial;
}

.cell.today .number-wrap {
  background-color: #0e6244;
}
.cell.selected .number-wrap {
  background-color: #bbb;
}

.cell.disabled {
  color: #ccc;
  pointer-events: none;
}

.number {
  position: absolute;
  font-size: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell .dots {
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.cell .dots .dot {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  margin: 0 1px;
}

.calendar-underline {
  height: 4px;
  width: 26px;
  background-color: #ced3de;
  margin: 10px auto;
  border-radius: 2px;
}
