/* src/Calendar.css */
.calendar {
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.days,
.body {
  background: #fff;
}

.col {
  text-align: center;
  padding: 10px 0;
  width: 2.5em;
}

.col-center {
  flex-grow: 1;
  user-select: none;
}

.col-center > .month {
  font-size: 1.2em;
  font-weight: 600;
}

.col-center > .year {
  margin-top: 3px;
  font-size: 0.7em;
  color: #999;
}

.col-center.week {
  font-size: 0.75em;
  color: #999;
}

.icon {
  cursor: pointer;
  user-select: none;
  border: 1.5px solid #ddd;
  border-radius: 20%;
  padding: calc(20% - 1.5px) 20%;
}

.col.col-start,
.col.col-end {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  font-weight: 600;
  flex-grow: 1;
}

.cell .number-wrap {
  padding: 18% 16%;
  min-width: 32%;
  border-radius: 30%;
}
.cell:hover .number-wrap {
  background-color: #ccc;
}

.cell.today {
  color: white;
  border-radius: 15%;
  box-sizing: initial;
}

.cell.today .number-wrap {
  background-color: #0e6244;
}

.cell.disabled {
  color: #ccc;
  pointer-events: none;
}

.number {
  font-size: 0.9rem;
}

.cell .dots {
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.cell .dots .dot {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  margin: 0 1px;
}

.cell .dots .dot.green {
  background-color: #00c853;
}

.cell .dots .dot.blue {
  background-color: #304ffe;
}

.cell .dots .dot.purple {
  background-color: #d500f9;
}

.calendar-underline {
  position: absolute;
  background-color: #ced3de;
  height: 3px;
  width: 7%;
  border-radius: 1px;
  margin: 10px auto;
  left: 50%;
  transform: translateX(-50%);
}
