/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   Reset.css
*/
/* 화면별 스타일 */
html {
  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Pretendard-Regular";
}

/* 라이브러리 시작 */
.flex {
  display: flex;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-ac-sb {
  align-content: space-between;
}

.flex-ac-sa {
  align-content: space-around;
}

.flex-fd-c {
  flex-direction: column;
}

.pd {
  padding: 2%;
}
/* 라이브러리 끝 */

.div-page {
  /* 네비게이션바 height만큼 padding을 줘서 네비게이션바 밑으로 페이지가 가려주는 걸 막아줌 */
  padding: 5vw;
  padding-bottom: 12vh;
}

.naviIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* link 검정색 글씨 */
.link {
  text-decoration: none;
  color: var(--color-normal9);
}

/* link 흰색 글씨 */
.link_white {
  text-decoration: none;
  color: var(--color-normal1);
}

/*border default*/
.border-df {
  border: 1px solid var(--color-dark2);
  opacity: 30%;
}
/*shadow default*/
.shadow-df {
  box-shadow: 0 0 0 2px var(--color-dark2);
  opacity: 10%;
}

html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
body {
  line-height: 1;
  font-family: "Pretendard-Regular";
  font-size: 17px;

  /*드래그 방지*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input:focus {
  border-color: black;
}

/*텍스트 크기 별 (아이폰 디폴트)*/
.Large TItle {
  font-size: 34px;
}
.Title1 {
  font-size: 28px;
}
.Title2 {
  font-size: 22px;
}
.Title3 {
  font-size: 20px;
}
.Headline {
  font-size: 17px;
  font-family: "Pretendard-SemiBold";
}
.Body {
  font-size: 17px;
}
.Callout {
  font-size: 16px;
}
.Subhead {
  font-size: 15px;
}
.Footnote {
  font-size: 13px;
}
.Caption1 {
  font-size: 12px;
}
.Caption2 {
  font-size: 11px;
}
/* 추가 세팅 */
:root {
  --vh: 100%;

  /*기본 흰~검 팔레트*/
  --color-light1: #f9f9f9;
  --color-light2: #ededed;
  --color-dark1: #b3b3b3;
  --color-dark2: #333333;

  /* 공지 빨강 */
  --color-error: #ff383b;
  --color-warning: #ffcc00;
  --color-info: #0063f7;
  --color-success: #06c270;
  --color-gray: #aeaeb2;

  /**포지션 컬러**/
  --color-gk: #ff9500;
  --color-dp: #007aff;
  --color-mf: #34c759;
  --color-sk: #e5350c;

  /**공식 컬러**/
  --color-subtle: #aaffe1;
  --color-sub: #1ceda4;
  --color-main: #0e6244;
  --color-main-darker: #003925;
}

.normal {
  font-weight: 400;
  font-family: "Pretendard-Regular";
}
.bold {
  font-weight: 700;
}
.bolder {
  font-weight: 800;
}
.light {
  font-weight: 300;
  font-family: "Pretendard-Light";
}

.h1 {
  font-size: 24px;
  font-family: Pretendard-Black;
}
.h2 {
  font-size: 20px;
  font-family: Pretendard-Bold;
}
.h3 {
  font-size: 18px;
  font-family: Pretendard-Medium;
}
.h4 {
  font-size: 16px;
  font-family: "Pretendard-Regular";
}
.h5 {
  font-size: 14px;
  font-family: "Pretendard-Regular";
}
.p {
  font-family: "Pretendard-Light";
  font-size: 12px;
}

/* 폰트 스타일 */
@font-face {
  font-family: "Cafe24Moyamoya-Face-v1.0";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Cafe24Moyamoya-Face-v1.0.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Black";
  src: url("./Fonts/Pretendard-Black.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("./Fonts/Pretendard-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("./Fonts/Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("./Fonts/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("./Fonts/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: local("Pretendard-Regular"),
    url("./Fonts/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Light";
  src: url("./Fonts/Pretendard-Light.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("./Fonts/Pretendard-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Thin";
  src: url("./Fonts/Pretendard-Thin.woff") format("woff");
}
