.notice-card {
  background-color: #fff;
}

.notice-card-header {
  align-items: center;
  margin-bottom: 10px;
}

.notice-card-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

.notice-card-icon {
  margin-right: 10px;
}

.notice-card-date {
  font-size: 12px;
  margin: 3px;
  color: #888;
  text-align: end;
}

.notice-card-content {
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}

.notice-card-img {
  margin-bottom: 10px;
}
